body {
    background-color: azure;
}

* {
    margin: 0;
    padding: 0;
}

.add-to-cart img {
    height: 65px;
    position: absolute;
    right: 3%;
    top: 5%;
}

.cart-wrapper {
    width: 600px;
    height: 100px;
    border: 1px solid black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 140px;
}

img.Cart-Img {
    height: 100px;
}

.btn-wrapper button {
    background-color: green;
    border: 0px;
    padding: 10px;
    border-radius: 4px;
    color: #fff;
    margin-left: 8px;
    
}

.nuber-count-add-cart {
    color:white;
    position: absolute;
    width: 20px;
    height: 20px;
    right: 2%;
    top: 1%;
    font-size: 21px;
    font-weight: 700;
    background: red;
    padding: 7px;
    display: flex;
    border-radius: 50px;
    justify-content: center;
}